<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
</header>

<!-- Top Navbar -->
<div id="header">
    <div id="nav-boxes" class="pure-g">
        <a class="pure-u-1-3" id="conf-box" href="/conferences">
            Conferences
        </a>
        <a class="pure-u-1-3" id="paper-box" href="/papers">
            Papers
        </a>
        <a class="pure-u-1-3" id="assign-box" href="/assignments">
            Assignments
        </a>
    </div>
</div>

{% block body %}
{% endblock %}