<form action="/token" method="post" id="login-form">
    <label for="username">username:
        <input type="email" name="username" required>
    </label>
    <label for="password">password:
        <input type="password" name="password" required>
    </label>
    <input type="submit" name="submit">
</form>

<script>
    const form = document.getElementById("login-form")
    form.addEventListener("submit", submitForm)

    // Manual form submission
    function submitForm(e) {
        e.preventDefault()

        fetch(form.action,
            {
                method: "post",
                body: new FormData(form)
            }
        ).then(
            r => {
                // Redirect if now logged in
                if (!r.ok) {
                    alert("Invalid Password!")
                } else {
                    window.location = "/"
                }
            }
        )
    }
</script>
