/* Top navbar */
#header {
    width: 100%;
    display: inline-flex;
}

#nav-boxes {
    inline-size: 30%;
    justify-content: flex-start;
    display: inline-flex;
    /* Causes boxes to stick to each side*/
    flex: 1;
}

#assign-box {
    background-color: #F6E96F;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#conf-box {
    background-color: #60DA55;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#paper-box {
    background-color: #F66F6F;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logout {
    inline-size: 69%;
    display: inline-flex;
    justify-content: end;
}

#logout-icon-holder {
    padding: 10px;
    background-color: crimson;
}