/* Top navbar */
#header {
    width: 100%;
    display: inline-flex;
    background-color: #bbbbbb;
}

#nav-boxes {
    inline-size: 30%;
    justify-content: flex-start;
    display: inline-flex;
    /* Causes boxes to stick to each side*/
    flex: 1;
}

.nav-box {
    text-decoration: none;
    color: #000000;
}

.nav-box:hover {
    filter: brightness(85%);
    transition-duration: 0.2s;
}

#assign-box {
    background-color: #F6E96F;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#conf-box {
    background-color: #60DA55;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#paper-box {
    background-color: #F66F6F;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logout {
    inline-size: 69%;
    display: inline-flex;
    justify-content: end;
}

#logout-icon-holder {
    padding: 10px;
    background-color: crimson;
}

/* Login form */
#login-form-container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 14%;
    margin-bottom: 25%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border: solid 1px;
    border-radius: 30px;
}

/* Paper page */
#submit-btn-container {
    height: 150px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
}

#paper-sub-btn {
    font-size: 125%;
    align-self: center;
    background-color: #55de24;
    color: black;
}

#paper-table {
    width: 100%;
}

.paper-link {
    text-decoration: underline;
    color: #000000;
}

.paper-link:hover {
    color: rgba(0, 0, 0, 0.70);
    transition-duration: 0.2s;
}